<div class="row">
  <div class="col-xs-12">
    <a [routerLink]="['/word-list', listId]">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Add New Item</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="alert alert-info text-center">Adding new item to <span class="bold">{{ listName }}</span></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label>Word</label>
        <input type="text" [(ngModel)]="model.word" class="form-control" name="word" />
        <button type="button" class="btn btn-default btn-xs" (click)="onGetTranslation()" *ngIf="showTranslationButton()">Google Translate</button>
      </div>
      <div class="results" *ngIf="result | async">
        <table class="table">
          <thead>
            <tr>
              <th>Word</th>
              <th>Language</th>
              <th>Reliability</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let word of result.value.words; let i = index;">
              <td>{{ word }}</td>
              <td>{{ result.value.languages[i].language }}</td>
              <td>{{ result.value.languages[i].reliability }}</td>
              <td>
                <button type="button" class="btn btn-xs btn-primary" name="{{ word + i }}" (click)="onChoose(word)">Choose</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label>Translation</label>
        <input type="text" [(ngModel)]="model.translation" class="form-control" name="translation" />
      </div>
      <div class="form-group">
        <label>Context</label>
        <input type="text" [(ngModel)]="model.context" class="form-control" name="context" />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>