<div class="user-detail-wrapper" *ngIf="userLoaded">
  <div class="row">
    <div class="col-xs-12">
        <span>Welcome <span class="bold">{{ model.username ? model.username : model.email }}</span></span>
        <a href="javascript:void(0)" class="logout-btn" (click)="logout()">Logout</a>
    </div>
  </div>
  <div *ngIf="listsLoaded">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Your Word Lists</h2>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-default add-list-btn clearfix">
              <i class="glyphicon glyphicon-plus"></i> Add List
            </a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let list of lists">
            <span class="badge" *ngIf="list.items">{{ list.items.length }}</span>
            <span class="badge" *ngIf="!list.items">0</span>
            <a [routerLink]="['/word-list', list.id]">{{ list.name }}</a>
            <span *ngIf="list.language"> - {{ list.language }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>